*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
    scroll-behavior: smooth;    
    font-family: sans-serif;
    letter-spacing: normal;
}
a{
    text-decoration: none;
    display: block;
    color: white;
}
.logo{
    font-weight: 600;
    margin-left: 50px;
}
.navbar-list li a{
    transition: 0.5s;
    margin: 5px 20px;
    transition:  1s;
    font-size: 20px;
}
.navbar-list li:hover{
    transform: scale(1.1);
    background-color: #0f82ed;
    border-radius: 10px;
    transition: 0.8s;
}
ul{
    list-style-type: none;
}
button{
    background-color: #0f82ed;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
}
header{
    background-color: #0F172A;
    height: 80px;
    position: sticky;
    box-shadow: 0 0 2px 2px #ffffff;

}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 10px 20px 10px 20px;
}
.navbar-list{
    display: flex;
    height: 100%;
    align-items: center;
}
.navbar-list li{
    padding-left: 10px ;
    cursor: pointer;
    font-size: 20px;
    display: flex;
}
.menu-icon{
    display: none;
}
.side-navbar{
    position: fixed;
    top: 0;
    left: -400px;
    width: 50%;
    height: 100vh;
    background-color: #0F172A;
    transition: 1s;
    display: none;
}

.side-navbar-list li{
    padding-bottom: 20px;
    font-size:20px ;
    padding-left: 10px;
    padding-top: 20px;
}
.side-icon{
    text-align: right;
    padding: 20px;
}
.side-navbar-list li:hover{
    border-left: 5px solid white;
    background-color: gray;
    padding-left: 20px;
    transition: all 1s;
}



.full-content{
    background: url(./assets/images/home.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}